nav{
    background: #fff;
    padding: 30px 100px;
    align-items: center;

}

nav ul li{
    padding: 40px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 15px;
    justify-content: center;
    position: relative;
    
}

nav ul li a{
    color: black;
    letter-spacing: 2px;
    display: inline-block;
    position: relative;
    
}

nav ul li a:after{

  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
    
}

nav ul li a:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
  }


nav ul li a:hover{
    color:#909090;
}

.navbar-brand img{
max-height: 100%;
max-width: 100%;
display: block;
    
}
.navbar-brand{
    height: 100px;
}

nav ul li ul{
    list-style: none;
    position: absolute;
    background-color: black;
    padding: 5px 0;
    transform: translate(-21%,-2px) scaleY(0);
    opacity: 0;
    transition: all .2s ease;

}


nav ul li:hover ul{
    transform: translate(-21%,-2px) scaleY(1);
    opacity: 1;

}

nav ul li ul a{
    text-decoration: none;
    color: #fff;
    display: block;
    padding: .5em 1em;
    font-size: 12px;
    white-space: nowrap;
}

nav ul li ul li{
    padding: 0;
}
nav ul li ul li:hover a {
    color:#bebebe
}

