.example-card {
     max-width: 1024px;
     height: 90vh;
     box-shadow: initial;
     
    
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .mat-card-content{
    
    padding-bottom: 60px;
  }

  .mat-card-header{
    justify-content: center
  }

