

<!-- <form>
    <mat-form-field appearance="fill">
      <mat-label>Year</mat-label>
      <mat-select>
        <mat-option *ngFor="let year of years" [value]="year.value">
          {{year.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
</form> -->
<div class="container filter-nav">
    <div class="filter">
        <select class="form-select form-select-sm shadow-none " aria-label=".form-select-lg example">
            <option selected>Years</option>
            <option value="{{year.viewValue}}" *ngFor="let year of years" [value]="year.value" >{{year.viewValue}}</option>
          </select>
    
          <select class="form-select form-select-sm shadow-none" aria-label=".form-select-lg example">
            <option selected>Filter</option>
            <option value="{{filter.viewValue}}" *ngFor="let filter of filter" [value]="filter.value" >{{filter.viewValue}}</option>
          </select>
    </div>

</div>


    <div class="container">
      <a class="image-grid" data-lightbox="homePortfolio" (click)="openDialog()">
        <img [src]="imageUrl" />
      </a>      
      <a class="image-grid" data-lightbox="homePortfolio" class="horizontal" (click)="openDialogA('imagelink')" >
        <img src="../../assets/image/background-image.jpg"/>
      </a>
      
      <a  data-lightbox="homePortfolio" class="horizontal" >
        <img src="https://source.unsplash.com/800x600/?sig=71"/>
      </a>
      
    <a data-lightbox="homePortfolio" [ngClass]="{'big': rand <= 3, 'vertical':rand >3 && rand <=7, 'horizontal': rand >=8}">
        <img src="https://source.unsplash.com/600x600/?sig=40"/>
      </a>
      
      <a href="https://source.unsplash.com/600x600/?sig=32" data-lightbox="homePortfolio"class="vertical" >
        <img src="https://source.unsplash.com/600x600/?sig=32"/>
      </a>
      
      <a href="https://source.unsplash.com/800x800/?sig=7" data-lightbox="homePortfolio" class="horizontal" >
        <img src="https://source.unsplash.com/800x800/?sig=7"/>
      </a>
      
      <a href="https://source.unsplash.com/600x600/?sig=111" data-lightbox="homePortfolio">
        <img src="https://source.unsplash.com/600x600/?sig=111"/>
      </a>
      
      <a href="https://source.unsplash.com/600x800/?sig=94" data-lightbox="homePortfolio" class="horizontal" >
        <img src="https://source.unsplash.com/600x800/?sig=94"/>
      </a>
      
      <a href="https://source.unsplash.com/600x600/?sig=11" data-lightbox="homePortfolio" class="vertical">
        <img src="https://source.unsplash.com/600x600/?sig=11"/>
      </a>
      
      <a href="https://source.unsplash.com/800x600/?sig=68" data-lightbox="homePortfolio"  class="horizontal">
        <img src="https://source.unsplash.com/800x600/?sig=68"/>
      </a>
      
      <a href="https://source.unsplash.com/600x600/?sig=24" data-lightbox="homePortfolio" class="big">
        <img src="https://source.unsplash.com/600x600/?sig=24"/>
      </a>
      
      <a href="https://source.unsplash.com/800x800/?sig=55" data-lightbox="homePortfolio" >
        <img src="https://source.unsplash.com/800x800/?sig=55"/>
      </a>
      
      <a href="https://source.unsplash.com/600x600/?sig=56" data-lightbox="homePortfolio" class="vertical">
        <img src="https://source.unsplash.com/600x600/?sig=56"/>
      </a>
      
      <a href="https://source.unsplash.com/800x600/?sig=186" data-lightbox="homePortfolio" class="big" >
        <img src="https://source.unsplash.com/800x600/?sig=186"/>
      </a>
      
      <a href="https://source.unsplash.com/600x600/?sig=117" data-lightbox="homePortfolio">
        <img src="https://source.unsplash.com/600x600/?sig=117"/>
      </a>
      
      <a href="https://source.unsplash.com/800x800/?sig=157" data-lightbox="homePortfolio" >
        <img src="https://source.unsplash.com/800x800/?sig=157"/>
      </a>
      
      <a href="https://source.unsplash.com/600x600/?sig=287" data-lightbox="homePortfolio">
        <img src="https://source.unsplash.com/600x600/?sig=287"/>
      </a>
      
      <a href="https://source.unsplash.com/600x800/?sig=307" data-lightbox="homePortfolio" >
        <img src="https://source.unsplash.com/600x800/?sig=307"/>
      </a>
    </div>

    <div aria-label="Page navigation example pagination">
        <ul class="pagination justify-content-center">
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
    </div>




