:root {
    --dark: #373349;
    --shadow: rgba(0,0,0,.2);
  }
  
  html, body {
    background-color: var(--dark);
    margin: 5px;
    padding: 20px;
  }
  
  .container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    grid-auto-rows: 120px;
    grid-auto-flow: dense;
  }  

  .pagination{
    padding-bottom: 25px;
    position: relative;
    margin-top: 70px;
    
  }

::ng-deep .mat-form-field-underline {
  display: none;
}
