
<div class="container">
  <mat-form-field appearance="fill">
    <mat-label>Year</mat-label>
    <mat-select>
      <mat-option *ngFor="let year of yearList" [value]="year.value">
        {{year.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Filter</mat-label>
    <mat-select>
      <mat-option *ngFor="let filter of filterTypeList" [value]="filter.value">
        {{filter.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>


<div class="container">
  <mat-grid-list cols="4" rowHeight="150px">   
      <ng-template  [ngIf]="screenWidth > 768 && tilesForWideScreen.length > 1">
        <mat-grid-tile
          *ngFor="let tile of tilesForWideScreen"
          [colspan]="tile.cols"
          [rowspan]="tile.rows"> 
          <a target="_blank" rel="noopener noreferrer" style=" width:100%"  (click)="openDialog(tile.imgUrl, tile.title)">
            <img id="img" [src]="tile.imgUrl" alt="" srcset="" style="object-fit: cover; width:100%">
          </a>
        </mat-grid-tile>
      </ng-template>







  </mat-grid-list>

</div>


